# روحي على https://www.emailjs.com/ واعملي حساب مجاني
# 1. Add New Service  -> هيديكي SERVICE_ID
# 2. Create Email Template -> هيديكي TEMPLATE_ID (استخدمي variables زي {{first_name}} {{last_name}} {{email}} {{phone}} {{message}})
# 3. Account -> General -> Public Key -> PUBLIC_KEY
# انسخي القيم دي هنا (وسمي الملف .env بدل .env.example)

VITE_EMAILJS_SERVICE_ID=your_service_id
VITE_EMAILJS_TEMPLATE_ID=your_template_id
VITE_EMAILJS_PUBLIC_KEY=your_public_key
